<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col col-md-6">
                <h5 class="card-title">
                    {{ "::Exam" | abpLocalization }}
                </h5>
            </div>
            <div class="text-end col col-md-6">
                <div class="text-lg-end pt-2">
                  <button id="create" class="btn btn-primary" type="button" (click)="createSinav()">
                    <i class="fa fa-plus me-1"></i>
                    <span>{{ "::NewExam" | abpLocalization }}</span>
                  </button>
            </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <ngx-datatable [rows]="sinav.items" [count]="sinav.totalCount" [list]="list" default>
            <ngx-datatable-column
            [name]="'::Actions' | abpLocalization"
            [maxWidth]="150"
            [sortable]="false"
          >
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div ngbDropdown container="body" class="d-inline-block">
                <button
                  class="btn btn-primary btn-sm dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  ngbDropdownToggle
                >
                  <i class="fa fa-cog me-1"></i>{{ '::Actions' | abpLocalization }}
                </button>
                <div ngbDropdownMenu>
                   <button ngbDropdownItem (click)="editSinav(row.id)">
                    {{ '::Edit' | abpLocalization }}
                  </button>
                  <!--<button *abpPermission="'SanalVaka.Dersler.Edit'" ngbDropdownItem (click)="onaylama(row.id)">
                    {{ 'Onayla' | abpLocalization }}
                  </button>
                  <button *abpPermission="'SanalVaka.Dersler.Delete'" ngbDropdownItem (click)="delete(row.id)">
                    {{ '::Delete' | abpLocalization }}
                  </button> -->
                  <!-- [routerLink]="['developer-duzenle/'+developer.developerId] -->

                </div>
              </div>
              
            </ng-template>
          </ngx-datatable-column>
            <ngx-datatable-column [name]="'::ExamName' | abpLocalization" prop="sinavAdi"></ngx-datatable-column>
            <ngx-datatable-column [name]="'::LectureName' | abpLocalization" prop="dersAdi"></ngx-datatable-column>
            <ngx-datatable-column [name]="'::ExamStart' | abpLocalization" prop="baslangicTarih"></ngx-datatable-column>
            <ngx-datatable-column [name]="'::ExamTime' | abpLocalization" prop="sinavSure"></ngx-datatable-column>
            <ngx-datatable-column [name]="'::ExamPoint' | abpLocalization" prop="agirlik"></ngx-datatable-column>
            <ngx-datatable-column [name]="'::Detail' | abpLocalization">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <a [routerLink]="'../sinav-detaylar/'+(row.id)" type="button" class="btn btn-sm bg-primary">
                  <i class="fas fa-pencil-alt"></i>
                  {{ '::Detail' | abpLocalization}}
                </a>
              </ng-template>
            </ngx-datatable-column>
            <!-- id?: string;
            bolumAdi?: string;
            isOnaylandi: boolean;
            creatorId?: string;
            creatorUserName?: string;
            bolumOnayciAdi?: string; -->
              <!-- <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.publishDate | date }}
              </ng-template> -->
          </ngx-datatable>
    </div>


</div>

<abp-modal [(visible)]="isModalOpen">
    <ng-template #abpHeader>
        <h3>{{ (selectedSinav.id ? '::Edit' : '::NewExam') | abpLocalization }}</h3>
    </ng-template>
    <ng-template #abpBody>
        <form [formGroup]="form" (ngSubmit)="save()">
          <div class="form-group">
            <label for="sinav-sinavAdi">Sınav Adı</label><span> * </span>
            <input type="text" id="sinav-sinavAdi" class="form-control" formControlName="sinavAdi" autofocus />
            <label for="sinav-sinavSure">Sınav Süresi</label><span> * </span>
            <input type="number" id="sinav-sinavSure" class="form-control" formControlName="sinavSure" autofocus />
            <label for="sinav-sinavAgirlik">Sınav Ağırlık</label><span> * </span>
            <input type="number" id="sinav-sinavAgirlik" class="form-control" formControlName="agirlik" autofocus />

            <label for="sinav-baslangicTarih">Başlangıç Tarihi</label><span> * </span>
            <input
            type="datetime"
            #datepicker="ngbDatepicker"
            class="form-control"
            name="datepicker"
            formControlName="baslangicTarih"
            ngbDatepicker
            (click)="datepicker.toggle()"
            />            
        </div>
          <div class="mt-2">
            <label for="sinav-dersId">{{'::Lecture' | abpLocalization}}</label><span> * </span>
            <select class="form-control" id="sinav-dersId" formControlName="dersId">
              <option [ngValue]="null">Ders seçiniz</option>
              <option [ngValue]="ders.id" *ngFor="let ders of dersList"> {{ ders.dersAdi | abpLocalization }}</option>
            </select>
          </div>
        </form>
    </ng-template>

    <ng-template #abpFooter>
        <button type="button" class="btn btn-secondary" abpClose>
          {{ '::Close' | abpLocalization }}
        </button>
    
        <button class="btn btn-primary" (click)="save()" [disabled]="form.invalid">
          <i class="fa fa-check mr-1"></i>
          {{ '::Save' | abpLocalization }}
        </button>
      </ng-template>
</abp-modal>

