<div class="card">
    <div class="card-header">
        {{dersDetay.dersAdi}}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="label">
                        Ders Adı :
                    </label>
                    <input type="text" id="dersDetay-dersAdi" class="form-control" formControlName="dersAdi" disabled value="{{dersDetay.dersAdi}}" />
                </div>
            </div>
        </div>
    </div>
</div>
