
<div class="card" >
        <div class="card-header">
            {{sinavComplete.bitis}}
        </div>
        <div class="card-body">
            <mat-tab-group>
                <mat-tab *ngFor="let soru of sinavComplete.sinavSorular.soruList" label="1">
                    {{soru.soruMetni}}
                    <div class="form-group" >
                        <mat-radio-group aria-label="Select an option" >
                            <mat-radio-button *ngFor="let cevap of soru.cevapList" value="{{cevap.id}}" (change)="radioButtonChange($event)">
                              {{cevap.cevapMetni}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>                    
                </mat-tab>
            </mat-tab-group>
        </div>
</div>
