<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col col-md-6">
                <h5 class="card-title">
                    Dersler
                </h5>
            </div>
            <div class="text-end col col-md-6">
                <div class="text-lg-end pt-2">
                  <button id="create" class="btn btn-primary" type="button" (click)="createDers()">
                    <i class="fa fa-plus me-1"></i>
                    <span>{{ "Yeni Ders" | abpLocalization }}</span>
                  </button>
            </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <ngx-datatable [rows]="ders.items" [count]="ders.totalCount" [list]="list" default>
            <ngx-datatable-column
            [name]="'::Actions' | abpLocalization"
            [maxWidth]="150"
            [sortable]="false"
          >
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div ngbDropdown container="body" class="d-inline-block">
                <button
                  class="btn btn-primary btn-sm dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  ngbDropdownToggle
                >
                  <i class="fa fa-cog me-1"></i>{{ '::Actions' | abpLocalization }}
                </button>
                <div ngbDropdownMenu>
                  <button *abpPermission="'SanalVaka.Dersler.Edit'" ngbDropdownItem (click)="editDers(row.id)">
                    {{ '::Edit' | abpLocalization }}
                  </button>
                  <button *abpPermission="'SanalVaka.Dersler.Edit'" ngbDropdownItem (click)="onaylama(row.id)">
                    {{ 'Onayla' | abpLocalization }}
                  </button>
                  <button *abpPermission="'SanalVaka.Dersler.Delete'" ngbDropdownItem (click)="delete(row.id)">
                    {{ '::Delete' | abpLocalization }}
                  </button>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
            <ngx-datatable-column [name]="'Ders Adı'" prop="dersAdi"></ngx-datatable-column>
            <ngx-datatable-column [name]="'Bölüm'" prop="bolumName"></ngx-datatable-column>
            <ngx-datatable-column [name]="'Oluşturan Kullanıcı'" prop="creatorUserName"></ngx-datatable-column>
            <ngx-datatable-column [name]="'Onaylayan Kullanıcı'" prop="dersOnayciAdi"></ngx-datatable-column>
            <ngx-datatable-column [name]="'Onaylandı Mı?'" prop="isOnaylandi"></ngx-datatable-column>

            <!-- id?: string;
            bolumAdi?: string;
            isOnaylandi: boolean;
            creatorId?: string;
            creatorUserName?: string;
            bolumOnayciAdi?: string; -->
              <!-- <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.publishDate | date }}
              </ng-template> -->
          </ngx-datatable>
    </div>


</div>

<abp-modal [(visible)]="isModalOpen">
    <ng-template #abpHeader>
        <h3>{{ (selectedDers.id ? '::Edit' : 'Yeni Ders') | abpLocalization }}</h3>
    </ng-template>
    <ng-template #abpBody>
        <form [formGroup]="form" (ngSubmit)="save()">
          <div class="form-group">
            <label for="ders-dersAdi">Ders Adı</label><span> * </span>
            <input type="text" id="ders-dersAdi" class="form-control" formControlName="dersAdi" autofocus />
          </div>
          <div class="mt-2">
            <label for="ders-bolumId">Bölüm</label><span> * </span>
            <select class="form-control" id="ders-bolumId" formControlName="bolumId">
              <option [ngValue]="null">Bölüm seçiniz</option>
              <option [ngValue]="bolum.id" *ngFor="let bolum of bolumList"> {{ bolum.bolumAdi | abpLocalization }}</option>
            </select>
          </div>
        </form>
    </ng-template>

    <ng-template #abpFooter>
        <button type="button" class="btn btn-secondary" abpClose>
          {{ '::Close' | abpLocalization }}
        </button>
    
        <button class="btn btn-primary" (click)="save()" [disabled]="form.invalid">
          <i class="fa fa-check mr-1"></i>
          {{ '::Save' | abpLocalization }}
        </button>
      </ng-template>
</abp-modal>

